@import url(style.css);

/* Botones */
.btn-rojo {
    background-color: #ef5350;
    color: #fff;
}
.btn-rojo:hover {
    background-color: #e53935;
    color: #fff;
}

.btn-azul {
    background-color: #42a5f5;
    color: #fff;
}
.btn-azul:hover {
    background-color: #1e88e5;
    color: #fff;
}

.btn-rosa {
    background-color: #ec407a;
    color: #fff;
}
.btn-rosa:hover {
    background-color: #d81b60;
    color: #fff;
}

.btn-gris {
    background-color: #78909c;
    color: #fff;
}
.btn-gris:hover {
    background-color: #546e7a;
    color: #fff;
}

/* Imagen */

.img-contenedor {
    overflow: hidden;
}
.img-zoom {
    object-fit: cover;
    transition: 0.6s ease;
}
.img-zoom:hover {
    transform: scale(1.1);
    transition: 0.6s ease;
}